<div class="container">
  <br>
  <div class="row">
      <div class="col mt-5 nb-5">
          <div class="col-md-8 mx-auto">
          
              <div class="col-8">
                  <div class="card">
                    <div class="card-header">
                      Signup Step 2
                    </div>
                    <div class="card-body">
                      <form #signupForm="ngForm" (ngSubmit)="addeuser()">
                        <div class="mb-3">
                          <label for="email" class="form-label">uesrname</label>
                          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="form.email">
                        </div>
                        <div class="mb-3">
                          <label for="password" class="form-label">Password</label>
                          <input type="password" class="form-control" id="password" name="password" [(ngModel)]="form.password">
                        </div>
                        <button type="submit" class="btn btn-dark"  [disabled]="verif() ">Submit</button>
                      </form>
                    </div>
                  </div>
                </div>
            </div>
            </div>
      </div>
</div>
  